body {
    margin: 0;
    font-family: 'Inter Tight', sans-serif;
    overflow-x: hidden; /* Prevent horizontal scroll */

}
textarea {
    resize: none;
}

/* Clock */
.local-time {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.local-label {
    opacity: 0.7;
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;  /* Stack items (like h1) in a column */
    align-items: center;     /* Horizontal center */
    justify-content: center; /* Vertical center */
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.hero h1 {
    text-align: center;
    font-size: 10rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.hero .highlight .opacity-70 {
    opacity: 0.7;
}

/* Contact Form Section */
.contact-section {
    margin: 0;
    padding: 2rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Left side with contact info */
.contact-info {
    flex: 1;
    padding-right: 4rem;
}

.contact-info h2 {
    font-size: 6vw;
    margin-bottom: 6rem;
}


.info-line {
    position: relative;
    padding: 1rem 0;
    margin: 1rem 0;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}

.info-line img {
    width: 24px;
    height: 24px;
    filter: invert(1); /* Make black icons white */
}

.info-line p {
    font-size: 1.2rem;
    margin: 0;
}
h3 {
    font-family: 'Instrument Sans', sans-serif; /* Add Instrument Sans font */
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
}

/* Right side with contact form */
.contact-container {
    width: 40%;
    flex: 1;
    margin: 0;
}

.contact-container h2 {
    font-size: 4rem;
}

.contact-container h2,
.contact-container p {
    text-align: left;
}

.contact-form {
    display: flex;
    border: 2px solid #2E2E2E;
    padding: 2rem;
    border-radius: 20px;
    flex-direction: column;
    gap: 1.2rem;

}

.contact-form label {
    text-align: left;
    font-weight: 600;
}

.contact-form input,
.contact-form textarea {
    background-color: #2E2E2E;
    color: #fff;
    border: 1px solid transparent; 
    border-radius: 10px;
    padding: 0.8rem;
    font-family: 'Inter Tight', sans-serif;
    font-size: 1rem;
    outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #7e7e7e;
    border: 1px solid;
}

/* Add after existing contact form styles */

.submit-btn {
    background-color: #2E2E2E;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 800;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-btn:hover {
    background-color: white;
    color: black;
}